# Directory where the format file will be located
CONFIG_FORMAT_DIR=C:\Users\David\texmf\web2c\luatex
# LuaTeX program
CONFIG_LUATEX=luatex
# Whether to run tests
CONFIG_TEST=y
# Whether to test with the small, large and huge image, respectively
CONFIG_TEST_SMALL=y
CONFIG_TEST_LARGE=n
CONFIG_TEST_HUGE=n
# Whether to test PDF object compression
CONFIG_TEST_PDF_OBJECT_COMPRESSION=n
